body {
    font-family: Pacifico, cursive;
    margin: 0;
    padding: 0;
    background-color: #1130df;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #5a5a5a;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header nav ul {
    list-style: none;
    background-color: #333;
    display: flex;
    justify-content: center;
    padding-left: 0px;
}

header ul li {
    margin: 15px;
}

header ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    margin: 40px;
    padding-left: 0%;
    padding-right: 0%;
}

header ul li a:hover {
    text-decoration: underline;
}

#navbar-2 {
    margin: 20px;
    border-radius: 60px;
}



section {
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#historia {
    background-color: #333;
    text-align: center;
}

section h1 {
    color: #ffffff;
    border-bottom: 2px solid #1130df;
    padding-bottom: 10px;
}

section h2 {
    color: #333;
    border-bottom: 2px solid #e8491d;
    padding-bottom: 10px;
}

section h3 {
    color: #333;
    border-bottom: 2px solid #000000;
    padding-bottom: 10px;
}

article {
    margin-bottom: 30px;
}

article p {
    margin: 0;
    text-align: justify;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px auto;
    border-radius: 8px;
}

img:hover {
    transform: scale(1.2);
}

footer {
    background-color: #5a5a5a;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

footer p {
    margin: 5px;
}

#back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #333333;
    color: white;
    border: none;
    border-radius: 25%;
    padding: 15px;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

#back-to-top:hover {
    background-color: #85b6ff;
}